<!-- detail.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Chamado Aberto</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Chamado</h1>
    <h2><%= chamado.titulo %></h2>
    <p><%= chamado.descricao %></p>
    <p><%= chamado.usuario %></p>
    <p><%= chamado.categoriaChamado %></p>
  </div>
</body>
</html>
